kjfldsalfksakex
body{
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
	font-family:'Roboto', Helvetica, sans-serif;
	margin-top:0;
	margin-bottom:10px;
	font-weight:700;
}
h1{
	font-size: 40px;
	margin-bottom: 20px;
	font-weight:700;

}
h2{
	font-size: 28px;
}
h3{
	font-size: 18px;
    margin-bottom: 8px;
}
.nav
{
	text-align: center;
}
.nav-tabs > li
{
	display: inline-block;
	text-align: center ;
	float: none!important;
}
.nav-tabs > li > a
{
	color: #171717;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ffffff;
    cursor: default;
    background-color: #25ad48;
    border: 1px solid #ddd;
    /* border-bottom-color: transparent; */
}
div[class$="region"]:not(.banner-region){
	position:relative;
	padding:40px 0;
	background-color: #ecf1f7;
}
p{
	margin-bottom:15px;
}
p:last-child{
	margin-bottom:0;
}
.white-color{
	color:#fff;
}
.m-btm-40{
	margin-bottom:40px !important;
}

.m-top-30{
	margin-top:50px !important;
}
*:focus{
	outline:0 !important;
}
.greycolor-con {
	background-color: #ffffff !important;
    padding: 40px 0;
}
/* #banner region */
.height-100{
	height:100%;
}
.banner-region{
	position: relative;
	min-height: 465px;
}
body .overlay{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ecf1f7;
   	/*background-color: rgba(0,136 ,204, 0.2);*/
	/*background-color: rgba(80, 178, 77, 0.85);*/
	/*background-color: rgba(112, 29, 31, .9);*/
}
.banner-con{
	position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: 100%;
}

.banner-con p{

    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 20px;
    color: #000;
}
.btnsamecont{
	background-color: #25ad48;
    color: #fff;
    padding: 10px 10px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
	width: 225px;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.btnsamecont1
{
	background-color:transparent !important;
	border:2px solid #cb3633;
	color: #cb3633;
	 padding: 10px 30px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
	width: 225px;
}
.btnsamecont1:hover{
		background-color: #cb3633 !important;
	 color: #fff;
}
.btnsamecont:hover, .btnsamecont:focus{
	text-decoration:none;
	color:#fff;
}
.title-border{
	display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 10px;
}
.title-border:after{
	position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #48b7b0;
	left: 45px;
    top: 50%;
    margin-top: -2px;
}
.title-border:before{
	position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    background-color: #48b7b0;
    right: 45px;
    top: 50%;
    margin-top: -2px;
}
.sub-heading{
	margin-bottom: 40px;
}
.sub-heading p{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}
.second-region{
	background-color:#ffffff !important;
}
.secon-confld img{
	margin-bottom:15px;
	
}
.secon-confld .col-md-4:nth-child(3) ~  *{
	margin-top: 50px;
}
/* #Faculty region */
.faculty-region{
	padding-bottom: 60px !important;
}

#myCarousel{
	clear:both;
}
.carousel-control{
	
}

span.fa.fa-angle-left.slick-arrow {
    position: absolute;
    left: -20px;
    top: 209px;
    font-size: 55px;
    color: #333;
}

span.fa.fa-angle-right.slick-arrow {
    position: absolute;
    right: -20px;
    top: 209px;
    font-size: 55px;
    color: #333;
}
.carousel-control.left{
background: none;
}
.carousel-control.right{
background: none;
	
}
.faculty-box{
	text-align: center;
    padding: 30px 20px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 11px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-top: 60px;
    padding-top: 75px;
	min-height: 450px;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
	opacity: 0.9 !important;

   
}
.carousel .faculty-box   img{
	max-width: 106px;
    min-width: initial;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: 9px;
    margin-left: -53px;
	background-color: #fff;
}
.faculty-box h3{
	margin-top: 45px;
}
.faculty-box h4{
	font-size: 16px;
    font-weight: normal;
    color: #333333;
}
.faculty-box p{
	font-size: 15px;
	text-align: justify;
}
.carousel-indicators {
    bottom: -35px;
}
.factsmyt-region ul{
	margin: 0;
    padding: 0;
    list-style: none;
}
.factsmyt-region ul li{
	margin-bottom: 20px;
}
.factsmyt-region ul li:last-child{
    margin-bottom: 0px;
}
.factsmyt-region ul li p{
	margin-bottom: 5px;
}
.factsmyt-region ul li p:last-child{
	margin-bottom: 0px;
}
.factsmyt-region ul li li{
	margin-bottom:5px;
}
.spacinremo {
	margin: 20px 0;
}
.factsmyt-region .spacinremo li {
    margin-bottom: 0;
}
.factsmyt-region ul .wrongimg{
	padding-left: 25px;
    background-image: url(../img/wrong.png);
    background-repeat: no-repeat;
    background-size: 12px auto;
    background-position: left 6px;
}
.factsmyt-region ul .tickimg{
	padding-left: 25px;
    background-image: url(../img/correct.png);
    background-repeat: no-repeat;
    background-size: 14px auto;
    background-position: left 6px;
}
/* #from region */
.free-region{
}
.right-con-hed form {
   
}

.faq {
	
	font-size: 14px;
	
	
}

#products > div > *:nth-child(5) {
    clear: both;
}
.right-con-hed .form-group {
    margin-bottom: 10px;
    padding-left: 0;
}
.right-con-hed .form-group label{
	line-height: 55px;
    font-size: 16px;
    padding-right: 10px;
}
.right-con-hed .icon-user + div{
	
}
.right-con-hed .form-control {
    border-radius: 0;
    box-shadow: initial;
    height: 55px;
    padding-left: 55px;
    background-repeat: no-repeat;
    border: 1px solid #eceaee;
    background-position: 20px center;
    font-size: 14px;
}
.right-con-hed .form-group select {
	border: 0;
    border: 1px solid #eceaee;
    width: 100%;
    padding-left: 57px;
    height: 55px;
    font-size: 15px;
    color: #9b9b9b;
	background: url(../img/br_down.png) no-repeat right #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 95%;
}
.right-con-hed input[type="submit"] {
	background-color: #25ad48;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
	border:0;
	margin-top: 10px;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.right-con-hed img {
    position: absolute;
    left: 30px;
    width: 24px;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}
.boxex-con{
	box-shadow: 0 0 11px 0px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    border-radius: 3px;
}
.boxex-con h3{
	position: relative;
}
.boxex-con  p{
	text-align: justify;
}
/* #Syllabus */
.syllabus-region{
	
}
.min-heading{
	line-height: 1.4;
    margin-bottom: 20px;
	font-size: 20px;
}
.con-heading{
	font-size:18px;
}
.list-icon{
	margin: 0;
    padding: 0;
    list-style: none;
}
.list-icon li{
	padding-left: 25px;
    background-image: url(../img/tick.png);
    background-repeat: no-repeat;
    background-size: 14px auto;
    background-position: left 6px;
	margin-bottom: 10px;
}
/* Panel */
.panel-group .panel{
	border: 0;
    border-radius: 0;
    box-shadow: initial;
}
.panel-group .panel+.panel{
	margin-top: 1px;
}
.panel-default>.panel-heading{
	background-color: #0088cc;
    color: #fff;
	padding: 0;
}
.panel-title{

}
.panel-title a{
	width: 100%;
    display: block;
    padding: 10px 15px;
}
.panel-title a:hover, .panel-title a:focus{
	text-decoration:none;
}
.panel-title .glyphicon{
	float: right;
    font-size: 15px;
}

.panel-group  p span{
	color: #48b7b0;
}
.imagesrounf img{
	border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
}
.carousel .item img{
	min-width: initial;
}
.thankyoucont{
	padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}
.date-icon, .time-icon{
	font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 25px auto;
    line-height: 28px;
    padding-left: 40px;
}
.date-icon p, .time-icon p{

}
.date-icon{
	background-image: url(../img/calendar.png);
}
.time-icon{
	background-image: url(../img/time-icon.png);
}
/* #footer css */
.sub-footer{
	background-color: #414142;
	color: #fff;
	padding: 15px 0;
}
.sub-footer a{
	color: #88e3fd;
}

.choseprog .checkicon {
  
border-bottom:1px solid #f3f3f3;
padding:10px;
border-left:1px solid #ededed;
border-right:1px solid #ededed;
	background:#fff;
	
	
}
   .choseprog.checkicon:last-child
   {
border-bottom:none;
   }
   .choseprog .btn{border-radius:2px;background-color:#25ad48;font-size:16px;color:#ffffff;padding:0 15px;font-weight:bold;line-height:48px;text-shadow:initial;width:100%;box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;}

.box select {
    border: 1px solid rgba(68, 53, 91, 0.1);
    border-radius: 2px;
    height: 48px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100%;
    padding-left: 10px;
    background: url("../img/coupon.png"), url("../img/down-arrow-black.png")  #f8f8f8;
        background-repeat: repeat, repeat;
        background-position-x: 0%, 0%;
        background-position-y: 0%, 0%;
    background-position: 5% 50%, 95% 50%;
    background-repeat: no-repeat;
	-webkit-appearance: none;
-moz-appearance: none;
}
.choseprog .checkicon h4{margin:0 0 4px 0;font-size:12px;color:#555555;line-height:1.5}
.feedback_box {
    background: url(../img/quotes-2.html) no-repeat right top #f8f8f8;
    min-height: 445px;
    border: 1px solid #eeeeee;
    padding: 30px;
}

[class^="iconimg"], .choseprog .checkicon .inercon:after, .jcrouselslideco .panel-body a:after{background-image:url(../img/sprite.png);background-repeat:no-repeat}
.choseprog .checkicon .inercon{padding-left:35px;position:relative}
.choseprog .checkicon .inercon:after{position:absolute;content:"";width:18px;height:18px;left:0;background-position:-2px -110px;top:0}

.box {
    border: 1px solid #25ad48;
    float: left;
    width: 100%;
    overflow: hidden;
	min-height:500px;
	background:#f2f2f2;
	padding:10px;
	margin-top: 20px;
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}


.rectangle-31 h4{
	min-height: 50px;
	margin-top: 20px;

}

.feature-content {
    float: left;
    min-height: 305px;
}

.rectangle-31 {
    border-radius: 2px;
    width: 100%;
	color: #324850;
    border: 1px solid #ededed;
    background: #f8f8f8;
    min-height: 90px;
    text-align: center;
}

	.round img{
			
			width: 100px;
			height: 100px;
			margin: 0 auto;
			
			
			
		}
		
		.round p{
			
		font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.3;
			
			
		}


.footer-region ul li
{
	font-size: 14px;
	line-height: 31px;
}

.middd ul {margin: 0 0 10px;padding: 0;}
.middd ul li {color:#000 !important;padding: 0 0 0 20px;text-decoration: none; font-size:18px; display: inline; position:relative;}
.middd ul li a:hover {color: #f8c442 !important;}
.middd {color: #fff;width: 100%; font-size:15px;/* line-height: 1.0;*/}
.middd p strong{
	font-size: 22px;
}
.middd p:nth-child(3){
	font-size: 15px;
}
.middd h3{
	color: black;
}
.middd ul li::before  {color:#000;content: "\f111";cursor: pointer;display: inline-block !important;font-family: FontAwesome;font-size: 10px;position:absolute; left:0;     padding: 5px;}
.video-content{
	width: 560px; 
	height: 315px;
}
.pad-con{
	padding-left: 19%; 
}
.region{
	min-height: 100px;
}
.region-img{
	height: 75px;
	width: 75px;
}
.region-head{
	font-size: 24px;
}
/* #responsive menu breakpoints change */
@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
	.navbar-toggle{
		border-color: #006699;
	}
	.navbar-toggle .icon-bar{
		background-color:#006699;
	}
	#navbar-collapse-1 > ul.navbar-nav {
		padding-left: 0;
    	margin: 0;
	}
	.header-region .navbar-right > li{
		margin:0;
	}
	.header-region .navbar-nav > li > a{
		padding:0;
		line-height:35px;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{
		padding: 5px 15px 5px 10px;
	}
	/*.header-region .navbar-nav > li > a.highltcolor{
		padding: 0;
		background-color: transparent;
		color: #333;
	}*/
	.navbar-header > label{
		display:inline-block;
	}
	
	
}
/* #mobile responsive */
@media only screen and (max-width:767px){
	.right-con-hed input[type="submit"]{
		white-space: initial;
		font-size: 18px;
		padding: 10px;
		font-weight: 400;
		width:100%;
	}
	.banner-region{
		overflow:hidden;
		padding: 50px 0;
	}
	.banner-region > img{
		max-width: initial;
		display: none;
	}
	.navbar-brand{
		padding-left: 15px;
	}
	h1{
		font-size: 28px;	
	}
	h2 {
    	font-size: 20px;
    	line-height: 1.3;
	}
	.btnsamecont{
		font-size: 18px;
    	font-weight: 400;
		padding: 10px 10px;
		width:100%;
	}
	.banner-con{
		position:relative;
		top: 0;
	}
	.banner-con p{
		font-size: 16px;
		max-width: 100%;
	}
	div[class$="region"]:not(.banner-region) {
	    padding: 20px 0;
	}
	.boxex-con{
		margin-top: 6px;
    	margin-bottom: 6px;
	}
	
	.classescont {
   
    padding-bottom: 40px;
}
	
	
	

	#myCarousel2 .carousel-indicators li{
		border: 1px solid #ddd;
    	background-color: #ddd;
	}
	#myCarousel2 .carousel-indicators .active{
		border: 1px solid #48b7b0;
    	background-color: #48b7b0;
	}
	#myCarousel2 .boxex-con{
		padding: 15px 10px;
    	min-height: 287px;
	}
	
	
	#myCarousel5 .carousel-indicators li{
		border: 1px solid #ddd;
    	background-color: #ddd;
	}
	#myCarousel5 .carousel-indicators .active{
		border: 1px solid #48b7b0;
    	background-color: #48b7b0;
	}
	#myCarousel5 .boxex-con{
		padding: 15px 10px;
	}
	
	.crose .carousel-indicators {
    bottom: 0px;
}
	.crose .boxex-con p {
    min-height: 50px;
}
	
	
	
	#myCarousel6 .carousel-indicators li{
		border: 1px solid #ddd;
    	background-color: #ddd;
	}
	#myCarousel6 .carousel-indicators .active{
		border: 1px solid #48b7b0;
    	background-color: #48b7b0;
	}
	#myCarousel6 .boxex-con{
		padding: 15px 10px;
	}
	
	.crose6 .carousel-indicators {
    bottom: 0px;
}
	.crose6 .boxex-con p {
    min-height: 50px;
}
	
	
	.sub-heading {
	    margin-bottom: 20px;
	}
	.sub-heading p{
		max-width: 100%;
	}
	.m-top-30 {
	    margin-top: 20px !important;
	}
	.right-con-hed .form-group label{
		float: left;
    	line-height: 1.3;
    	padding-right: 0;
		font-size: 14px;
	}
	.right-con-hed .form-group{
		margin-bottom: 20px;
	}
	#myCarousel2{
		margin-bottom: 25px;
	}
	.imagesrounf{
	
	}
	.imagesrounf img{
		border-radius: 0;
	    margin-bottom: 20px;
	}
	#myCarousel3 .faculty-box{
		min-height: 430px;
	}
	#myCarousel3{
		margin-bottom:20px;
	}
	.faculty-region{
		padding-bottom: 30px !important;
	}
	.right-con-hed .form-group select{
		height: 45px;
		padding-left: 45px;
	}
	.right-con-hed .form-control{
		height: 45px;
		padding-left: 45px;
	}
	#myCarousel2 .col-sm-12{
		
	}
	.video-content {
    width: 300px;
    height: 195px;
}
	.pad-con{
		padding-left: 0%;
	}
}
@media only screen and (min-width:480px) and (max-width:767px){
	.btnsamecont{
		width:auto;
	}
	.boxex-con p{
		min-height: initial;
	}
	#myCarousel2 .boxex-con{
		min-height: 240px;
	}
	#myCarousel3 .faculty-box {
	    min-height: 340px;
	}
}


@media only screen and (min-width:768px) and (max-width:991px){
	#myCarousel3, #myCarousel2{
		display:none;
	}
	.faculty-box{
		min-height: 640px;
	}
	.boxex-con{
		padding: 20px 10px;
		min-height: 372px;
	}
	.banner-region img{
		display:none;
	}
	.banner-con{
		position:relative;
		padding: 20px 0;
		text-align: center;
	}
	.pad-con{
		padding-left: unset;
	}


}
@media only screen and (min-width:992px) and (max-width:1200px){
	.boxex-con{
		min-height:321px;
	}
	.faculty-box{
		min-height:485px;
	}
}

 