/* #footer css Start 
=========================================== */
.footer-region{
	background-color: #ecf1f7;
	color: #000;
	padding: 20px 0;
	font-size: 14px;
}
.footer-region h5{
	margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: relative;
}
.footer-region a{
	color: #000;
	font-weight: 300;
	line-height: 2.2;
	/* opacity: .7; */
}
.footer-region ul{
	padding: 0;
    margin: 0;
    list-style: none;
}
.two-columns li{
	/*width: 50%;
    float: left;*/
}
.footer-region ul ul{
	padding-left:15px;
}
.footer-region ul ul .fa{
	margin-right: 3px;
	color: #000;
}
.footer-region li{

}
.footer-region .center-btn{
	margin-bottom: 20px;
}

.center-btn h2{
	margin-bottom: 0;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
	vertical-align: top;
	margin-top: 0;
	font-weight:bold;
}
.center-btn a{
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	margin-left: 15px;
	background-color: #25ad48;
	opacity: 1;
	padding: 0 15px;
	font-weight: 500;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
}
.center-btn a + a{

}
/* #Sub footer */
.sub-footer{
	background-color: #0363ac;
	color: #fff;
	padding: 15px 0;
}
.sub-footer a{
	color: #88e3fd;
}
.linkremove{
	pointer-events:none;
}
.sub-footer p{
	margin:0;
}
/* #socail icon */
.social-region{
	background-color: #d3f2fb;
}
.social-icon{
	text-align: center;
}
.social-icon ul{
	padding: 0;
    margin-bottom: 20px;
}
.social-icon li{
	display:inline-block;
}
.social-icon li a{
	display: block;
    width: 50px;
    height: 50px;
    line-height: 52px;
    border-radius: 10px;
    margin-right: 5px;
    opacity: 1;
    color: #fff;
    font-size: 24px;
}
/*.social-icon li a:hover{
	background-color: #006699;
}*/
.social-icon li .fb-icon{
	background-color: #3b5a9a;
}
.social-icon li .tw-icon{
	background-color: #1aa9e1;
}
.social-icon li .yt-icon{
	background-color: #f03a37;
}
.social-icon li .ig-icon{
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); 
}
/* #Resposive css */
@media only screen and (max-width:767px){
	.linking-outer h5{
		position: relative;
		border-bottom: 1px solid #ccc;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
	.linking-outer h5:after {
		float: right;
		margin-right: 10px;
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-top: 7px;
		width: 7px;
		height: 7px;
		border-top: 2px solid #000;
		border-right: 2px solid #000;
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
		-webkit-transition: transform .5s;
		transition: transform .5s;
	}
	.linking-outer.active h5:after {
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.linking-outer h5 + ul{
		display:none;
	}
	.linking-outer.active h5 + ul{
		display:inline-block;
	}
	.linking-outer:last-child h5{
		margin-bottom: 0;
	}
	.linking-outer.active{
		margin-bottom:20px;
	}
	.footer-region .center-btn a{
		margin-left: 0;
		clear: both;
		margin-top: 5px;
	}
	.footer-region .center-btn a + a{
		clear: none;
	}
	.center-btn h2{
		width:100%;
	}
	.linking-outer{
		width:100%;
	}
}
/* #Ipad Landscape and portrait */
@media only screen and (min-width:768px) and (max-width:991px){
	.footer-region{
		font-size: 13px;
	}
}