/* #font family use */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
/* #Top nav css call*/
@import url('header.css');
/* #Sub menu css call */
@import url('sub-menu.css');
/* #Footer css */
@import url('footer.css');
/* #Slcik slider css */
@import url('slick.css');

/* global css */
body{line-height:1.6;color:#333;font-size:14px;font-family:'Roboto', Helvetica, sans-serif;font-weight:400;}
img{
	max-width:100%;
	height:auto;
	vertical-align:top;
}
.navbar-brand>img{
	max-height:41px;
}
/* #Crousel css */
.faculltyregion .carousel-control 			 { width:  4%; }
.faculltyregion .carousel-control.left {margin-left:20px;background-image:none;}
.faculltyregion .carousel-control.right {margin-right:15px;background-image:none;}
@media (max-width: 767px) {
	.faculltyregion .carousel-inner .active.left { left: -100%; }
	.faculltyregion .carousel-inner .next        { left:  100%; }
	.faculltyregion .carousel-inner .prev		 { left: -100%; }
	.faculltyregion .active > div { display:none; }
	.faculltyregion .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.faculltyregion .carousel-inner .active.left { left: -50%; }
	.faculltyregion .carousel-inner .next        { left:  50%; }
	.faculltyregion .carousel-inner .prev		 { left: -50%; }
	.faculltyregion .active > div { display:none; }
	.faculltyregion .active > div:first-child { display:block; }
	.faculltyregion .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.faculltyregion .carousel-inner .active.left { left: -25%; }
	.faculltyregion .carousel-inner .next        { left:  25%; }
	.faculltyregion .carousel-inner .prev		 { left: -25%; }	
}