/* Header css */
#header-region{
	margin-bottom: 0;
    border: 0;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	font-size: 14px;
}
.navbar-brand{
	height: auto;
    padding-top: 1px;
	padding-bottom: 1px;
}
.header-region .navbar-nav>li>a{
	color: #333;
    font-weight: 600;
    padding: 0 10px;
    line-height: 43px;
    background-color: transparent;
}
.header-region .navbar-nav>li.open>a{
	background-color:transparent;
}
#navbar-collapse-1 > ul:first-child{
	padding-left:40px;
}
.header-region .navbar-right > li{
	margin:0 10px;
}
.header-region .navbar-right > li:last-child{
	margin-right:0;
}
.header-region .navbar-nav>li>a.highltcolor,.highltcolor{
	background-color: #25ad48;
    color: #fff;
    padding: 0 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}
.highltcolor-mb{
	background-color: #25ad48;
    color: #fff;
    padding: 10px;
	position: absolute;
	
}
.highltcolor-mb:hover
{
	color: #f3f3f3;
}
.header-region .navbar-nav>li>.dropdown-menu{
	top: 58px;
    background-color: #eaeaea;
    padding: 0;
    border: 1px solid rgba(0 , 0, 0, 0.1);
    border-bottom: 0;
	left: 0;
    right: initial;
}
.header-region .dropdown-menu>li>a{
    line-height: 1.6;
    border-bottom: 1px solid rgba(0 , 0, 0, 0.1);
    padding: 7px 20px;
	color:#000;
}
.header-region .dropdown-menu>li>a:hover{

}
/* #responsive menu breakpoints change */
@media (max-width: 991px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
	.navbar-toggle{
		border-color: #006699;
	}
	.navbar-toggle .icon-bar{
		background-color:#006699;
	}
	#navbar-collapse-1 > ul.navbar-nav {
		padding-left: 0;
    	margin: 0;
	}
	.header-region .navbar-right > li{
		margin:0;
	}
	.header-region .navbar-nav > li > a{
		padding:0;
		line-height:35px;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{
		padding: 5px 15px 5px 10px;
	}
	.header-region .navbar-nav > li > a.highltcolor{
		padding: 0;
		background-color: transparent;
		color: #333;
	}
	.navbar-header > label{
		display:inline-block;
	}
}