/* #sub nav region */
.sub-nav-region{
	background-color: #006699;
    border-top: 1px solid #e7e7e7;
    /* border-bottom: 1px solid #e7e7e7; */
}
.sub-nav-region .navbar-nav>li>a{
	color: #fff;
    font-weight: 400;
    padding: 0;
    line-height: 40px;
    margin-right: 30px;
    background-color: transparent;
}
.sub-nav-region .navbar-nav>li.open>a{
	background-color: transparent;
}
.sub-nav-region .navbar-nav>li>.dropdown-menu{
	padding: 0;
    border: 0;
    border-radius: 0;
    background-color: #f5f5f5;
}
.sub-nav-region .dropdown-menu>li>a{
	line-height: 1.6;
    padding: 7px 20px;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 400;
}
.sub-nav-region .dropdown-menu>li>a:hover{
	background-color: #fff;
    color: #000;
}
.navbar-header > label{
	display:none;
}
/* #responsive menu breakpoints change */
@media (max-width: 991px) {
.sub-nav-region .navbar-toggle{
		border-color: #fff;
	}
	.sub-nav-region .navbar-toggle .icon-bar{
		background-color: #fff;
	}
	.sub-nav-region .navbar-header > label{
		line-height: 34px;
		margin: 0;
		margin-top: 8px;
		padding-left: 15px;
		color: #fff;
		font-size: 16px;
	}
	.sub-nav-region .navbar-nav > li > a{
		padding: 0 15px;
		line-height: 30px;
	}	
	.navbar-header > label{
		display: inline-block;
	}
}
.caret-sub
{
right: 10px;
position: absolute;
top: 13px;
color: #635e5e;
}


.dropdown-submenu1{
position: relative;
}
.dropdown-submenu1 ul{
display: none;
color: #000;

text-align: left;
padding: 0;
}
.dropdown-submenu1 ul li
{
list-style: none;
text-decoration: none;
line-height: 2.6;
color: #000;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
font-size: 14px;
font-weight: 400;
	background: #fff;
}
.dropdown-submenu1:hover ul{
display: block;
text-decoration: none;
width: 220px;
position: absolute;
left: 100%;
top: 0;
}
.dropdown-submenu1 ul li a{			
text-decoration: none;
padding: 25px;
color: #000;
font-weight: 400;

}
.dropdown-submenu1 ul li a:hover{
color:#4F4F4F;
	
}

 .nav .open > a, .nav .open > a:focus, .nav .open > a:hover
{
	background: none;
}