/* Layout styling */
.galery-section{
	padding: 60px 0 40px 0;
}
.galery-section .titlepage{
	font-size: 30px;
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bold;
}
.galery-section .subtitle{
	font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 50px;
}
.button-con{
	padding-top: 10px;
    padding-bottom: 10px;
}
.button-con.fixed-theme{
	position: fixed;
    width: 100%;
    left: 0;
    z-index: 1;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.button-con button{
	margin-right: 15px;
    border: 1px solid #035ccc;
    background-color: #fff;
    padding: 7px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: .3px;
}
.button-con button:nth-child(2){
	border-color: #FF8000;
}
.button-con button:nth-child(2):hover, .button-con button.active:nth-child(2){
	background-color: #FF8000;
}
.button-con button:nth-child(3){
    border-color: #008640;
}
.button-con button:nth-child(3):hover, .button-con button.active:nth-child(3){
	background-color: #008640;
}
.button-con button:nth-child(4){
    border-color: #900c3e;
}
.button-con button:nth-child(4):hover, .button-con button.active:nth-child(4){
	background-color: #900c3e;
}
.button-con button:nth-child(5){
    border-color: rgb(255, 0, 0);
}
.button-con button:nth-child(5):hover, .button-con button.active:nth-child(5){
	background-color: rgb(255, 0, 0);
}
.button-con button:nth-child(6){
	border-color: #800080;
}
.button-con button:nth-child(6):hover, .button-con button.active:nth-child(6){
	background-color: #800080;
}
.button-con button:hover, .button-con button.active, .button-con button:focus{
	background-color: #035ccc;
    color: #fff;
	outline:0 !important;
}
.testmocon{
	margin-top: 20px;
}
.boxes-testmonials{
	box-shadow: 3px 15px 40px rgba(0,0,0,.12);
    background-color: #f4fbff;
	-webkit-transform: scale(.95);
    transform: scale(.95);
	margin-top: 40px;
}
.boxes-testmonials a{
	color: #222;
	text-decoration:none;
}
.boxes-testmonials a em{
	color:#006699;
}
.box-top{
	padding: 30px 20px 50px;
	position:relative;
}
.box-top .categorydefin{
	position: absolute;
    right: 5px;
    top: 5px;
    color: #035ccc;
    border: 1px solid #035ccc;
    font-size: 13px;
    font-weight: 500;
    line-height: 28px;
    padding: 0 12px;
}
.box-top .nightclasses{
	color: #008640;
    border-color: #008640;
}	
.box-top .testseries{
	color: #ff0000;
    border-color: #ff0000;
}
.box-top .classroom{
	color: #FF8000;
    border-color: #FF8000;
}
.box-top .smartcatcracker{
	color: #900c3e;
    border-color: #900c3e;
}
.box-top .gdpi{
	color: #800080;
    border-color: #800080;
}
.box-top .categorydefin span{

}
.box-top .quotes-img{
	padding-bottom: 20px;
}
.box-top .quotes-img img{
	max-width: 30px;
}
.box-top p{
	margin: 0;
    line-height: 1.8;
    font-size: 17px;
    min-height: 390px;
    font-weight: 400;
}
.box-bttm{
	background-color: #fff;
    padding: 30px 30px 30px;
    border-top: 1px solid #eee;
    position: relative;
	height: 145px;
}
.box-bttm .stude-img{
	position: absolute;
    left: 0;
    width: 100%;
    top: -30px;
}
.stude-img img{
	max-height: 60px;
    border-radius: 50%;
    max-width: 60px;
}
.box-bttm h3{
	font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 0;
}
.box-bttm h4{
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}
.box-bttm em{
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.feature-hover {
	border-color: #006699 transparent;
	border-style: solid;
	border-width: 0 0 50px 50px;
	bottom:0px;
	content: "";
	cursor: pointer;
	position: absolute;
	right: 0px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.feature-hover>span {
	color: #fff;
	display: block;
	left: -31px;
	padding: 3px 10px;
	position: absolute;
	top: 18px;
}
/* #student testmonials page css 
=========================================== */
.rs-testimonial{
	background-image: url(../img/testimonial-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    color: #fff;
	position: relative;
}
.rs-testimonial .sec-title{
	margin-bottom: 100px;
    position: relative;
    padding-bottom: 20px;
}
.rs-testimonial .sec-title:after{
	content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100px;
    background: #ff3115;
	left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.rs-testimonial .sec-title h2{
	margin: 0;
    font-size: 40px;
    margin-bottom: 15px;
}
.rs-testimonial .sec-title p{
	font-size: 20px;
    font-style: italic;
}
.testimonial-item{
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    padding: 35px;
    padding-bottom: 10px;
}
.testi-img{
	position: absolute;
    top: -50px;
    border-radius: 50%;
    border: 5px solid #fff;
    left: 50%;
    transform: translate(-50%, 0);
}
.testi-img img{
	border-radius: 50%;
    max-width: 100px;
	/*border: 1px solid #ff3115;*/
	background-color: #94c7e8;
}
.testi-desc{
	padding: 42px 0;
	position:relative;
}
.testi-desc h3{
	font-size: 20px;
    margin-bottom: 10px;
    color: #212121;
    margin-top: 10px;
}
.testi-desc h4{
	margin-top: 0;
    color: #ff3115;
    font-size: 16px;
}
.testi-desc p{
	font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
	color: #505050;
}
.testi-desc:after {
    position: absolute;
    font-family: FontAwesome;
    font-size: 26px;
    color: #ff3115;	
	content: "\f10d";
    top: 0;
    left: 0;
}
.testi-desc:before {
    position: absolute;
    font-family: FontAwesome;
    font-size: 26px;
    color: #ff3115;	
	content: "\f10e";
    bottom: 0;
    right: 0;
}
.overlay{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}
.rs-testimonial + .footer-nav .footer {
	margin-top:0 !important;
	border:0px !important;
}
/* #Responsive css 
=========================================== */
@media only screen and (min-width:767px) and (max-width:991px){
	.button-con button{
		margin-bottom:10px;
	}
	.box-top p{
		min-height: 400px;
	}
}
@media only screen and (min-width:991px) and (max-width:1200px){
	.box-top p{
		min-height: 500px;
	}	
}
@media only screen and (max-width:767px){
	.galery-section .titlepage{
		font-size:26px;
	}
	.galery-section .subtitle{
		font-size: 16px;
	}
	.galery-section {
	    padding: 30px 0 30px 0;
	}
	.button-con{
		margin-top: 30px;
		margin-bottom: 0;
	}
	.button-con.fixed-theme{
		margin-top: 0px;
		position: relative;
	}
	.button-con button{
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.box-top p{
		min-height:initial;
	}
	.boxes-testmonials{
		margin-top: 20px;
	}
}
