@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body
{
	font-family:'Roboto', Helvetica, sans-serif;
	font-weight:400;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
	color: #000;

}
h1,h2,h3,h4,h5
{
	font-weight: bold;
	
	
}
h1{
	font-size: 40px;
	margin-bottom: 20px;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 20px;
	text-align: center;
	
	

}

h4{
	font-size: 18px;
	text-align: center;
}

p
{
	font-size: 14px;
	margin: 0 0 10px;

}
.gap
{
	height: 40px;
	
}
.clear
{
	
}
.nomargin, .nopadding
{
	padding: 0;
	margin: 0;
	
}

/* stylesheet for demo and examples */

.textblue
{
	color: #22AAD3;
}
.banner
{
	background: url(../img/bg.jpg) no-repeat top;
	background-position: center;
    background-size: cover;
    background-size: 100%;
 
    width: 100%;
	min-height:430px;
	

	padding: 25px;
	
}
@media only screen and (max-width: 700px) {
      .banner {
        background:none;
		  padding: 5px;
       }
	
	.banner h1
	{
		font-size: 30px;
	}
}



.primary{
	background: #ff692e;
	padding: 10px;
	color: #fff;
	font-size: 24px;
	margin-bottom: 10px;
	width: 300px;
}
.secondary{
	border: 2px solid #38a8e1 ;
	padding: 10px;
	color: #38a8e1;
	background: #fff;
	font-size: 24px;
	margin-bottom: 10px;
	width: 300px;
}
.primary:hover
{

	color:#EFEFEF;
	background: #f96e37;

}
.secondary:hover
{
	color:#fff;
	background:#38a8e1;
}
.content{
	overflow: auto;
	position: relative;
	padding: 20px;
	background: #333;
	margin: 10px;
	width: 740px;
	max-width: 97%;
	height: 400px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}


.showcase .content{


	height: 400px;
}

.showcase .horizontal-images.content{
	height: 140px;
	width: 700px;
	max-width: 97%;
	padding: 5px 5px 0 5px;
}



.footer-region {
    background-color: #d3f2fb;
    color: #000;
    padding: 20px 0;
}


.showcase #content-1.content, #content-2.content, #content-3.content, #content-4.content, #content-5.content, #content-6.content, #content-7.content, #content-8.content, #content-9.content, #content-10.content, #content-11.content, #content-12.content, #content-13.content, #content-14.content.content, #content-15.content, #content-16.content, #content-17.content, #content-18.content, #content-19.content, #content-20.content, #content-21.content{ background-color: #fff;  border: 1px solid  #DCDBDB; box-shadow: 0px 0px 30px 0px rgba(52, 68, 73, 0.3);}

.showcase #content-1.content h2{ color: #ddd; }



